.Calculator {
  max-width: 400px;
  margin: 0 auto;
}

.CalculatorDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 10px;
  background: #312e2e;
  color: #fff;
  font-size: 30px;
  text-align: right;
}

.CalculatorKeys {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: #efefef;
}

.CalculatorDigits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

.CancelBtn {
  width: 100%;
}

.CalculatorOperators {
  margin: 0;
  padding: 0;
}